body {
  background-color: rgb(22, 22, 94);
  margin: 0;
  padding: 0;
}

.gameBoard {
  position: relative;
  margin-top: 20px;
  margin-inline: auto;
  background-color: rgb(69, 67, 67);
  width: 120px;
  height: 240px;
}

.buttons {
  margin-inline: auto;
  width: 100px;
}

.pixel {
  position: absolute;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: inline-block;
  background-color: white;
  width: 10px;
  height: 10px;
}
